.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #7E7E82;
  width: 80%;
  font-size: 14px;
  border-top: 1px solid #D9FFF5;
  margin-top: 50px;
  margin-left: 20px;
  padding-top: 30px;

  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: -10px;
    margin-top: 50px;

    &__first{
      width: 40%;
    }
    &__third{
      padding-left: 20px;
    }
  }

  &__first{
    margin-bottom: 20px;


  }

  &__second{
    margin-bottom: 20px;

  }


}
