
.container{
  width: auto;
  /*height: 100%;*/
}

.logo-menu__call,
.logo-menu__chat,
.logo-menu__profile,
.content__repair-span,
.content__check-span
{
  display: none;
}

.logo-menu__cps-logo::after{
  content: "";
  height: 32px;
  width: 2px;
  background-color:#EAEAEA;
  display:inline-block;
  margin-left: 12px;
  margin-right: 4px;
  margin-top: 4px;
}

.container__logo-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px 17px 16px;

  //&__burger:hover{
  //  filter: saturate(200%) ;
  //  animation-name: animation;
  //  animation-duration: 1s;
  //  animation-iteration-count: infinite;
  //  animation-direction: alternate;
  //}

}





@keyframes animation {
  to{
    transform: scale(1.1);
    color: darkred;
  }
}

.logo-menu__burger:hover{
  filter: saturate(200%) ;
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.logo-menu__call:hover{
  filter: saturate(200%) ;
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logo-menu__chat:hover{
  filter: saturate(200%) ;
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.logo-menu__profile:hover{
  filter: saturate(200%) ;
  animation-name: animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
